*
  font-size: 14px
  font-family: 'Roboto', sans-serif
  // font-family: sans-serif
input[type=text]
  border: 2px solid #091E4224
  border-radius: 4px
  &:focus
    border: 2px solid #388BFF
input[type=text]::placeholder
  font-weight: normal